
.navbar-logo{
    width: auto;
    height: 4.2rem;
}
.logo{
    margin-left: 4rem;
}
.nav-link{
    margin-left: 5rem;
}
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: grey;
    text-decoration-thickness:5px;
}