body{
    display : flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap : wrap;
    margin: 0;
}

.navbar-nav{
    position: relative;
    width: 100%;
    justify-content: center;
    margin:0 auto;
    
}
.nav-link{
    padding-left: 5rem !important;
}
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: grey;
    text-decoration-thickness: 4px;
}
.whole{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}